node_modules
lib/token/*
session
src/config.json
tmp
db/*
areta.json
asu.jpg
contacts.json
ingpo.jpg
package-lock.json
samsudin.jpg
saveResponse.json
self.zip
stories.json
tes.json
wa-legacy.zip
wa-legacy1.zip
ngetes.js
tes.js